@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap'); */

@layer base {
  @font-face {
    /* font-family: 'Pinny09'; */
    /* font-family: 'Poppins','sans-serif'; */
    font-style: normal;
    /* font-weight: 100 900; */
    /* font-weight: 300 900; */
    /* font-display: optional; */
    /* src: url('/fonts/Pinny09.ttf') format('ttf'); */
    /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD; */
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.mapboxgl-map {
  position: absolute;
  width: 600px;
  height: 300px;
}

.filter-item {
  font-size: 0.8em;
}

.graphicContainer {
  position: sticky;
}

.stickyBlock {
  margin: 0;
  position: fixed;
  width: '100%';
  top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.steps {
  /* padding: '20px 20px 130vh 10vw'; */
  z-index: 10;
}
.step {
  background-color: #191a1a;
  margin-bottom: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 500px;
  z-index: inherit;
  color: #fff;
  padding: 2em 1em;
}
.steptext {
  padding: 0.6em 0.8em;
  color: #fff;
  /* font-size: '1.4em';
  font-family: 'Merriweather';
  font-weight: 400;
  line-height: '1.4em'; */
}

div.imageThumbnailContainer {
  border: 1px solid none;
}

div.imageThumbnailContainer:hover {
  border-color: 1px solid #191a1a;
}

.airtable-contents p {
  margin-bottom: 15px;
}

.airtable-contents h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.airtable-contents a {
  color: #009eeb;
}

.airtable-contents ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.airtable-contents ul li ul {
  list-style-type: circle;
}

.airtable-contents ol {
  list-style: auto;
  margin-left: 20px;
  margin-bottom: 15px;
}
